-- MySQL dump 10.13  Distrib 8.4.6, for Linux (x86_64)
--
-- Host: localhost    Database: gympoint
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `gympoint`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `gympoint` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `gympoint`;

--
-- Table structure for table `SequelizeMeta`
--

DROP TABLE IF EXISTS `SequelizeMeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SequelizeMeta` (
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SequelizeMeta`
--

LOCK TABLES `SequelizeMeta` WRITE;
/*!40000 ALTER TABLE `SequelizeMeta` DISABLE KEYS */;
/*!40000 ALTER TABLE `SequelizeMeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_roles`
--

DROP TABLE IF EXISTS `account_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_roles` (
  `id_account_role` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL,
  `id_role` int NOT NULL,
  `assigned_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_account_role`),
  UNIQUE KEY `unique_account_role` (`id_account`,`id_role`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `account_roles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `account_roles_ibfk_2` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_roles`
--

LOCK TABLES `account_roles` WRITE;
/*!40000 ALTER TABLE `account_roles` DISABLE KEYS */;
INSERT INTO `account_roles` VALUES (3,3,1,'2025-10-06 02:07:30'),(4,4,2,'2025-10-06 02:07:30');
/*!40000 ALTER TABLE `account_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id_account` int NOT NULL AUTO_INCREMENT COMMENT 'ID ├║nico de la cuenta',
  `email` varchar(100) NOT NULL COMMENT 'Email ├║nico para login',
  `password_hash` varchar(255) DEFAULT NULL COMMENT 'Hash de contrase├▒a (NULL si es login social)',
  `auth_provider` enum('local','google') NOT NULL DEFAULT 'local' COMMENT 'Proveedor de autenticaci├│n',
  `google_id` varchar(255) DEFAULT NULL COMMENT 'ID de Google (si usa Google OAuth)',
  `email_verified` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Si el email est├í verificado',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Si la cuenta est├í activa (no baneada)',
  `last_login` datetime DEFAULT NULL COMMENT '├Ültima fecha de login',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_account`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `google_id` (`google_id`),
  KEY `idx_accounts_email` (`email`),
  KEY `idx_accounts_google_id` (`google_id`),
  KEY `idx_accounts_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
INSERT INTO `accounts` VALUES (3,'gonzalo@example.com','$2b$10$kjWfjftU9RkPVyM3pl7jhehDcJO00/2HrVP7cEe1wdVsiPRReo.kW','local',NULL,1,1,NULL,'2025-10-06 02:07:30','2025-10-06 02:07:30'),(4,'admin@gympoint.com','$2b$10$7IUQtRTXQF3xg1/evFC9JeEobV1Ew781vkaddTrYY7uBowcmUYHYi','local',NULL,1,1,'2025-10-08 02:18:48','2025-10-06 02:07:30','2025-10-08 02:18:48');
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_profiles`
--

DROP TABLE IF EXISTS `admin_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_profiles` (
  `id_admin_profile` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL COMMENT 'Relaci├│n 1:1 con account',
  `name` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `department` varchar(100) DEFAULT NULL COMMENT 'Departamento (IT, Support, Management, etc.)',
  `notes` text COMMENT 'Notas internas sobre el admin',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_admin_profile`),
  UNIQUE KEY `id_account` (`id_account`),
  CONSTRAINT `admin_profiles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_profiles`
--

LOCK TABLES `admin_profiles` WRITE;
/*!40000 ALTER TABLE `admin_profiles` DISABLE KEYS */;
INSERT INTO `admin_profiles` VALUES (2,4,'Admin','Principal','System','Migrado desde user #2','2025-10-06 02:07:30','2025-10-06 02:07:30');
/*!40000 ALTER TABLE `admin_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assistance`
--

DROP TABLE IF EXISTS `assistance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assistance` (
  `id_assistance` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `id_gym` int NOT NULL,
  `id_streak` int NOT NULL,
  `hour` time NOT NULL,
  `id_user` int DEFAULT NULL,
  `id_user_profile` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_assistance`),
  KEY `id_gym` (`id_gym`),
  KEY `id_streak` (`id_streak`),
  KEY `idx_assistance_user_date` (`id_user`,`date`),
  KEY `idx_assistance_gym_date` (`id_gym`,`date`),
  CONSTRAINT `assistance_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`),
  CONSTRAINT `assistance_ibfk_3` FOREIGN KEY (`id_streak`) REFERENCES `streak` (`id_streak`),
  CONSTRAINT `fk_assistance_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assistance`
--

LOCK TABLES `assistance` WRITE;
/*!40000 ALTER TABLE `assistance` DISABLE KEYS */;
/*!40000 ALTER TABLE `assistance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claimed_reward`
--

DROP TABLE IF EXISTS `claimed_reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claimed_reward` (
  `id_claimed_reward` int NOT NULL AUTO_INCREMENT,
  `id_reward` int NOT NULL,
  `id_code` int DEFAULT NULL,
  `claimed_date` date NOT NULL,
  `provider_snapshot` enum('system','gym') DEFAULT NULL,
  `gym_id_snapshot` bigint DEFAULT NULL,
  `status` enum('pending','redeemed','revoked') NOT NULL,
  `id_user` int DEFAULT NULL,
  PRIMARY KEY (`id_claimed_reward`),
  KEY `id_reward` (`id_reward`),
  KEY `fk_claimed_reward_code` (`id_code`),
  KEY `idx_claimed_reward_gym_date` (`gym_id_snapshot`,`claimed_date`),
  KEY `idx_claimed_reward_stats` (`id_reward`,`status`,`claimed_date`),
  KEY `idx_claimed_status_date` (`id_user`,`status`,`claimed_date`),
  CONSTRAINT `claimed_reward_ibfk_2` FOREIGN KEY (`id_reward`) REFERENCES `reward` (`id_reward`),
  CONSTRAINT `fk_claimed_reward_code` FOREIGN KEY (`id_code`) REFERENCES `reward_code` (`id_code`) ON DELETE SET NULL,
  CONSTRAINT `fk_claimed_reward_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claimed_reward`
--

LOCK TABLES `claimed_reward` WRITE;
/*!40000 ALTER TABLE `claimed_reward` DISABLE KEYS */;
/*!40000 ALTER TABLE `claimed_reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exercise`
--

DROP TABLE IF EXISTS `exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exercise` (
  `id_exercise` int NOT NULL AUTO_INCREMENT,
  `exercise_name` varchar(100) NOT NULL,
  `muscular_group` varchar(100) NOT NULL,
  `created_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_exercise`),
  KEY `exercise_created_by_foreign_idx` (`created_by`),
  KEY `idx_exercise_deleted_at` (`deleted_at`),
  CONSTRAINT `exercise_created_by_foreign_idx` FOREIGN KEY (`created_by`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exercise`
--

LOCK TABLES `exercise` WRITE;
/*!40000 ALTER TABLE `exercise` DISABLE KEYS */;
INSERT INTO `exercise` VALUES (1,'Press de banca','Pecho',NULL,NULL),(2,'Press de banca inclinado','Pecho',NULL,NULL),(3,'Mariposa','Pecho',NULL,NULL);
/*!40000 ALTER TABLE `exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frequency`
--

DROP TABLE IF EXISTS `frequency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frequency` (
  `id_frequency` int NOT NULL AUTO_INCREMENT,
  `achieved_goal` tinyint(1) NOT NULL,
  `id_user` int NOT NULL,
  `goal` tinyint NOT NULL,
  `assist` tinyint NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_frequency`),
  KEY `id_user` (`id_user`),
  KEY `idx_frequency_user` (`id_user`),
  CONSTRAINT `fk_frequency_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_goal_positive` CHECK ((`goal` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frequency`
--

LOCK TABLES `frequency` WRITE;
/*!40000 ALTER TABLE `frequency` DISABLE KEYS */;
INSERT INTO `frequency` VALUES (2,0,2,3,0,'2025-10-06 04:01:38','2025-10-07 03:15:53');
/*!40000 ALTER TABLE `frequency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym`
--

DROP TABLE IF EXISTS `gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym` (
  `id_gym` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `city` varchar(50) NOT NULL,
  `address` varchar(100) NOT NULL,
  `latitude` decimal(10,6) DEFAULT NULL,
  `longitude` decimal(10,6) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `website` varchar(500) DEFAULT NULL,
  `social_media` json DEFAULT NULL,
  `registration_date` date NOT NULL,
  `equipment` json NOT NULL,
  `month_price` double NOT NULL,
  `week_price` double NOT NULL,
  `logo_url` varchar(512) DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `photo_url` varchar(500) DEFAULT NULL COMMENT 'URL de la foto principal del gimnasio',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `whatsapp` varchar(20) DEFAULT NULL COMMENT 'N├║mero de WhatsApp',
  `instagram` varchar(100) DEFAULT NULL COMMENT 'Usuario de Instagram',
  `facebook` varchar(100) DEFAULT NULL COMMENT 'P├ígina de Facebook',
  `google_maps_url` varchar(500) DEFAULT NULL COMMENT 'URL de Google Maps',
  `max_capacity` int DEFAULT NULL COMMENT 'Capacidad m├íxima del gimnasio',
  `area_sqm` decimal(10,2) DEFAULT NULL COMMENT '├ürea en metros cuadrados',
  `verified` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Gimnasio verificado por administraci├│n',
  `featured` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Gimnasio destacado',
  `location` point DEFAULT NULL COMMENT 'Ubicaci├│n geogr├ífica (POINT con SRID 4326)',
  PRIMARY KEY (`id_gym`),
  KEY `idx_gym_location` (`latitude`,`longitude`),
  KEY `idx_gym_deleted_at` (`deleted_at`),
  KEY `idx_gym_created_at` (`created_at`),
  CONSTRAINT `chk_latitude` CHECK ((`latitude` between -(90) and 90)),
  CONSTRAINT `chk_longitude` CHECK ((`longitude` between -(180) and 180))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym`
--

LOCK TABLES `gym` WRITE;
/*!40000 ALTER TABLE `gym` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_gym_type`
--

DROP TABLE IF EXISTS `gym_gym_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_gym_type` (
  `id_gym` int NOT NULL,
  `id_type` int NOT NULL,
  PRIMARY KEY (`id_gym`,`id_type`),
  KEY `id_type` (`id_type`),
  CONSTRAINT `gym_gym_type_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE,
  CONSTRAINT `gym_gym_type_ibfk_2` FOREIGN KEY (`id_type`) REFERENCES `gym_type` (`id_type`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_gym_type`
--

LOCK TABLES `gym_gym_type` WRITE;
/*!40000 ALTER TABLE `gym_gym_type` DISABLE KEYS */;
INSERT INTO `gym_gym_type` VALUES (1,1),(2,1),(3,1),(5,1),(1,2),(2,2),(3,2),(5,2);
/*!40000 ALTER TABLE `gym_gym_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_payment`
--

DROP TABLE IF EXISTS `gym_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_payment` (
  `id_payment` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_gym` int NOT NULL,
  `mount` decimal(10,2) NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `payment_date` date NOT NULL,
  `status` varchar(20) NOT NULL,
  `legacy_id` int DEFAULT NULL COMMENT 'ID original para migraci├│n a mercadopago_payment',
  `migration_status` enum('PENDING','MIGRATED','ERROR') NOT NULL DEFAULT 'PENDING' COMMENT 'Estado de migraci├│n a mercadopago_payment',
  PRIMARY KEY (`id_payment`),
  KEY `id_user` (`id_user`),
  KEY `id_gym` (`id_gym`),
  KEY `idx_payment_user_date` (`id_user`,`payment_date`),
  KEY `idx_gym_payment_migration_status` (`migration_status`),
  CONSTRAINT `fk_gym_payment_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gym_payment_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_payment`
--

LOCK TABLES `gym_payment` WRITE;
/*!40000 ALTER TABLE `gym_payment` DISABLE KEYS */;
INSERT INTO `gym_payment` VALUES (1,2,1,3000.00,'mercadopago','2025-05-01','PAGADO',NULL,'PENDING');
/*!40000 ALTER TABLE `gym_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_rating_stats`
--

DROP TABLE IF EXISTS `gym_rating_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_rating_stats` (
  `id_rating_stats` bigint NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL COMMENT 'Gimnasio',
  `total_reviews` int NOT NULL DEFAULT '0' COMMENT 'Total de reviews',
  `average_rating` decimal(3,2) NOT NULL DEFAULT '0.00' COMMENT 'Rating promedio',
  `rating_1_count` int NOT NULL DEFAULT '0' COMMENT 'Cantidad de ratings de 1 estrella',
  `rating_2_count` int NOT NULL DEFAULT '0' COMMENT 'Cantidad de ratings de 2 estrellas',
  `rating_3_count` int NOT NULL DEFAULT '0' COMMENT 'Cantidad de ratings de 3 estrellas',
  `rating_4_count` int NOT NULL DEFAULT '0' COMMENT 'Cantidad de ratings de 4 estrellas',
  `rating_5_count` int NOT NULL DEFAULT '0' COMMENT 'Cantidad de ratings de 5 estrellas',
  `last_calculated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '├Ültima vez que se calcularon las estad├¡sticas',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_rating_stats`),
  UNIQUE KEY `idx_gym_rating_stats_gym` (`id_gym`),
  KEY `idx_gym_rating_stats_avg_total` (`average_rating`,`total_reviews`),
  CONSTRAINT `gym_rating_stats_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_rating_stats`
--

LOCK TABLES `gym_rating_stats` WRITE;
/*!40000 ALTER TABLE `gym_rating_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_rating_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_review`
--

DROP TABLE IF EXISTS `gym_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_review` (
  `id_review` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL COMMENT 'Usuario que escribi├│ la review',
  `id_gym` int NOT NULL COMMENT 'Gimnasio siendo rese├▒ado',
  `rating` tinyint NOT NULL COMMENT 'Rating de 1 a 5 estrellas',
  `title` varchar(200) DEFAULT NULL COMMENT 'T├¡tulo de la review',
  `content` text COMMENT 'Contenido de la review',
  `is_verified` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Review verificada (usuario asisti├│ al gimnasio)',
  `is_public` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Review visible p├║blicamente',
  `helpful_count` int NOT NULL DEFAULT '0' COMMENT 'Contador de "├║til" (precalculado)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_review`),
  UNIQUE KEY `idx_gym_review_user_gym` (`id_user_profile`,`id_gym`),
  KEY `idx_gym_review_gym_public` (`id_gym`,`is_public`),
  KEY `idx_gym_review_rating_date` (`rating`,`created_at`),
  KEY `idx_gym_review_helpful_date` (`helpful_count`,`created_at`),
  CONSTRAINT `gym_review_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gym_review_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_review`
--

LOCK TABLES `gym_review` WRITE;
/*!40000 ALTER TABLE `gym_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_schedule`
--

DROP TABLE IF EXISTS `gym_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_schedule` (
  `id_schedule` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `day_of_week` enum('MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY') NOT NULL COMMENT 'D├¡a de la semana',
  `opening_time` time DEFAULT NULL,
  `closing_time` time DEFAULT NULL,
  `closed` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Indica si el gimnasio est├í cerrado este d├¡a',
  PRIMARY KEY (`id_schedule`),
  KEY `id_gym` (`id_gym`),
  KEY `idx_gym_schedule_gym_day` (`id_gym`,`day_of_week`),
  CONSTRAINT `gym_schedule_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_schedule`
--

LOCK TABLES `gym_schedule` WRITE;
/*!40000 ALTER TABLE `gym_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_special_schedule`
--

DROP TABLE IF EXISTS `gym_special_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_special_schedule` (
  `id_special` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `date` date NOT NULL,
  `opening_time` time DEFAULT NULL,
  `closing_time` time DEFAULT NULL,
  `closed` tinyint(1) NOT NULL,
  `motive` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_special`),
  KEY `fk_special_schedule_gym` (`id_gym`),
  CONSTRAINT `fk_special_schedule_gym` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_special_schedule`
--

LOCK TABLES `gym_special_schedule` WRITE;
/*!40000 ALTER TABLE `gym_special_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_special_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_type`
--

DROP TABLE IF EXISTS `gym_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_type` (
  `id_type` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id_type`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_type`
--

LOCK TABLES `gym_type` WRITE;
/*!40000 ALTER TABLE `gym_type` DISABLE KEYS */;
INSERT INTO `gym_type` VALUES (4,'Cardio'),(2,'Crossfit'),(3,'Funcional'),(5,'HIIT'),(1,'Musculaci├│n'),(6,'Yoga');
/*!40000 ALTER TABLE `gym_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media` (
  `id_media` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int DEFAULT NULL COMMENT 'Usuario que subi├│ el archivo (opcional)',
  `media_type` enum('IMAGE','VIDEO','DOCUMENT') NOT NULL COMMENT 'Tipo de archivo',
  `content_type` enum('USER_PROFILE','GYM_PHOTO','GYM_LOGO','EXERCISE_IMAGE','PROGRESS_PHOTO','REVIEW_PHOTO','OTHER') NOT NULL COMMENT 'Tipo de contenido',
  `original_filename` varchar(255) NOT NULL COMMENT 'Nombre original del archivo',
  `stored_filename` varchar(255) NOT NULL COMMENT 'Nombre del archivo en storage',
  `file_path` varchar(500) NOT NULL COMMENT 'Ruta completa del archivo',
  `file_url` varchar(1000) NOT NULL COMMENT 'URL p├║blica del archivo',
  `thumbnail_url` varchar(1000) DEFAULT NULL COMMENT 'URL del thumbnail (para im├ígenes/videos)',
  `file_size` bigint NOT NULL COMMENT 'Tama├▒o del archivo en bytes',
  `mime_type` varchar(100) NOT NULL COMMENT 'MIME type del archivo',
  `width` int DEFAULT NULL COMMENT 'Ancho (para im├ígenes/videos)',
  `height` int DEFAULT NULL COMMENT 'Alto (para im├ígenes/videos)',
  `duration` int DEFAULT NULL COMMENT 'Duraci├│n en segundos (para videos)',
  `storage_provider` enum('LOCAL','CLOUDINARY','AWS_S3','GOOGLE_CLOUD') NOT NULL DEFAULT 'LOCAL' COMMENT 'Proveedor de almacenamiento',
  `storage_metadata` json DEFAULT NULL COMMENT 'Metadatos espec├¡ficos del proveedor',
  `is_public` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Archivo p├║blico o privado',
  `is_processed` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Archivo procesado (thumbnails, etc.)',
  `reference_type` varchar(50) DEFAULT NULL COMMENT 'Tipo de entidad que referencia (gym, user_profile, etc.)',
  `reference_id` bigint DEFAULT NULL COMMENT 'ID de la entidad que referencia',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_media`),
  KEY `idx_media_user_profile` (`id_user_profile`),
  KEY `idx_media_content_type` (`content_type`),
  KEY `idx_media_media_type` (`media_type`),
  KEY `idx_media_reference` (`reference_type`,`reference_id`),
  KEY `idx_media_storage_provider` (`storage_provider`),
  KEY `idx_media_public_processed` (`is_public`,`is_processed`),
  KEY `idx_media_created_at` (`created_at`),
  CONSTRAINT `media_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress`
--

DROP TABLE IF EXISTS `progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress` (
  `id_progress` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `date` date NOT NULL,
  `body_weight` int DEFAULT NULL,
  `body_fat` tinyint DEFAULT NULL,
  PRIMARY KEY (`id_progress`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `fk_progress_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress`
--

LOCK TABLES `progress` WRITE;
/*!40000 ALTER TABLE `progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress_exercise`
--

DROP TABLE IF EXISTS `progress_exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress_exercise` (
  `id_progress` int NOT NULL,
  `id_exercise` int NOT NULL,
  `used_weight` int NOT NULL,
  `reps` int NOT NULL,
  PRIMARY KEY (`id_progress`,`id_exercise`),
  KEY `id_exercise` (`id_exercise`),
  CONSTRAINT `progress_exercise_ibfk_1` FOREIGN KEY (`id_progress`) REFERENCES `progress` (`id_progress`),
  CONSTRAINT `progress_exercise_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress_exercise`
--

LOCK TABLES `progress_exercise` WRITE;
/*!40000 ALTER TABLE `progress_exercise` DISABLE KEYS */;
/*!40000 ALTER TABLE `progress_exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `id_token` int NOT NULL AUTO_INCREMENT,
  `token` text NOT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `expires_at` datetime NOT NULL,
  `revoked` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `id_user` int NOT NULL,
  PRIMARY KEY (`id_token`),
  KEY `fk_refresh_token_user_profile` (`id_user`),
  KEY `idx_token_expiration` (`expires_at`,`revoked`),
  CONSTRAINT `fk_refresh_token_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_helpful`
--

DROP TABLE IF EXISTS `review_helpful`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review_helpful` (
  `id_helpful` bigint NOT NULL AUTO_INCREMENT,
  `id_review` bigint NOT NULL COMMENT 'Review marcada como ├║til',
  `id_user_profile` int NOT NULL COMMENT 'Usuario que marc├│ como ├║til',
  `is_helpful` tinyint(1) NOT NULL COMMENT 'true=├║til, false=no ├║til',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_helpful`),
  UNIQUE KEY `idx_review_helpful_review_user` (`id_review`,`id_user_profile`),
  KEY `id_user_profile` (`id_user_profile`),
  KEY `idx_review_helpful_review_date` (`id_review`,`created_at`),
  CONSTRAINT `review_helpful_ibfk_1` FOREIGN KEY (`id_review`) REFERENCES `gym_review` (`id_review`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `review_helpful_ibfk_2` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_helpful`
--

LOCK TABLES `review_helpful` WRITE;
/*!40000 ALTER TABLE `review_helpful` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_helpful` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward`
--

DROP TABLE IF EXISTS `reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward` (
  `id_reward` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(250) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `cost_tokens` int NOT NULL,
  `available` tinyint(1) NOT NULL,
  `stock` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date NOT NULL,
  `creation_date` date NOT NULL,
  `provider` enum('system','gym') NOT NULL DEFAULT 'system',
  `id_gym` bigint DEFAULT NULL,
  `fulfillment_type` enum('auto','manual') NOT NULL DEFAULT 'auto',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_reward`),
  KEY `idx_reward_gym_provider` (`id_gym`,`provider`),
  KEY `idx_reward_deleted_at` (`deleted_at`),
  KEY `idx_reward_availability` (`available`,`start_date`,`finish_date`),
  CONSTRAINT `chk_cost_positive` CHECK ((`cost_tokens` > 0)),
  CONSTRAINT `chk_reward_dates` CHECK ((`finish_date` >= `start_date`)),
  CONSTRAINT `chk_stock_positive` CHECK ((`stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward`
--

LOCK TABLES `reward` WRITE;
/*!40000 ALTER TABLE `reward` DISABLE KEYS */;
INSERT INTO `reward` VALUES (1,'Descuento del 20%','Canjeable por un 20% de descuento en la pr├│xima mensualidad','descuento',100,1,49,'2025-05-01','2025-12-31','2025-05-31','system',NULL,'auto',NULL);
/*!40000 ALTER TABLE `reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_code`
--

DROP TABLE IF EXISTS `reward_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_code` (
  `id_code` int NOT NULL AUTO_INCREMENT,
  `id_reward` int NOT NULL,
  `id_gym` int NOT NULL,
  `code` varchar(50) NOT NULL,
  `expiration_date` datetime DEFAULT NULL,
  `used` tinyint(1) NOT NULL,
  `creation_date` datetime NOT NULL,
  PRIMARY KEY (`id_code`),
  KEY `id_reward` (`id_reward`),
  KEY `id_gym` (`id_gym`),
  CONSTRAINT `reward_code_ibfk_1` FOREIGN KEY (`id_reward`) REFERENCES `reward` (`id_reward`),
  CONSTRAINT `reward_code_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_code`
--

LOCK TABLES `reward_code` WRITE;
/*!40000 ALTER TABLE `reward_code` DISABLE KEYS */;
INSERT INTO `reward_code` VALUES (1,1,1,'GP-7QZPYULO','2025-08-29 07:05:55',1,'2025-05-31 07:05:55');
/*!40000 ALTER TABLE `reward_code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_gym_stats_daily`
--

DROP TABLE IF EXISTS `reward_gym_stats_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_gym_stats_daily` (
  `day` date NOT NULL,
  `gym_id` int NOT NULL,
  `claims` int NOT NULL DEFAULT '0',
  `redeemed` int NOT NULL DEFAULT '0',
  `revoked` int NOT NULL DEFAULT '0',
  `tokens_spent` int NOT NULL DEFAULT '0',
  `tokens_refunded` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`day`,`gym_id`),
  KEY `idx_reward_gym_stats_day` (`day`),
  KEY `idx_reward_gym_stats_gym_day` (`gym_id`,`day`),
  CONSTRAINT `reward_gym_stats_daily_ibfk_1` FOREIGN KEY (`gym_id`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_gym_stats_daily`
--

LOCK TABLES `reward_gym_stats_daily` WRITE;
/*!40000 ALTER TABLE `reward_gym_stats_daily` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_gym_stats_daily` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_role` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL COMMENT 'Nombre del rol (USER, ADMIN, MODERATOR, etc.)',
  `description` varchar(255) DEFAULT NULL COMMENT 'Descripci├│n del rol',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'USER','Usuario normal de la aplicaci├│n m├│vil','2025-10-06 02:02:08'),(2,'ADMIN','Administrador del sistema con acceso total','2025-10-06 02:02:08');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine`
--

DROP TABLE IF EXISTS `routine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine` (
  `id_routine` int NOT NULL AUTO_INCREMENT,
  `routine_name` varchar(100) NOT NULL,
  `description` varchar(250) DEFAULT NULL,
  `created_by` int NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_routine`),
  KEY `fk_routine_user_profile` (`created_by`),
  KEY `idx_routine_deleted_at` (`deleted_at`),
  CONSTRAINT `fk_routine_user_profile` FOREIGN KEY (`created_by`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine`
--

LOCK TABLES `routine` WRITE;
/*!40000 ALTER TABLE `routine` DISABLE KEYS */;
INSERT INTO `routine` VALUES (1,'Fuerza Semanal','Rutina enfocada en fuerza para tren superior',2,NULL);
/*!40000 ALTER TABLE `routine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine_day`
--

DROP TABLE IF EXISTS `routine_day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine_day` (
  `id_routine_day` bigint NOT NULL AUTO_INCREMENT,
  `id_routine` int NOT NULL COMMENT 'Rutina a la que pertenece el d├¡a',
  `day_name` enum('MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY') NOT NULL COMMENT 'D├¡a de la semana',
  `day_order` tinyint NOT NULL COMMENT 'Orden del d├¡a en la rutina (1-7)',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'D├¡a activo en la rutina',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_routine_day`),
  UNIQUE KEY `idx_routine_day_routine_name` (`id_routine`,`day_name`),
  KEY `idx_routine_day_routine_order` (`id_routine`,`day_order`),
  CONSTRAINT `routine_day_ibfk_1` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine_day`
--

LOCK TABLES `routine_day` WRITE;
/*!40000 ALTER TABLE `routine_day` DISABLE KEYS */;
/*!40000 ALTER TABLE `routine_day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine_exercise`
--

DROP TABLE IF EXISTS `routine_exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine_exercise` (
  `id_routine` int NOT NULL,
  `id_exercise` int NOT NULL,
  `series` tinyint NOT NULL,
  `reps` tinyint NOT NULL,
  `order` tinyint NOT NULL,
  PRIMARY KEY (`id_routine`,`id_exercise`),
  KEY `id_exercise` (`id_exercise`),
  CONSTRAINT `routine_exercise_ibfk_1` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`),
  CONSTRAINT `routine_exercise_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine_exercise`
--

LOCK TABLES `routine_exercise` WRITE;
/*!40000 ALTER TABLE `routine_exercise` DISABLE KEYS */;
INSERT INTO `routine_exercise` VALUES (1,1,4,10,1),(1,2,3,12,2);
/*!40000 ALTER TABLE `routine_exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `streak`
--

DROP TABLE IF EXISTS `streak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `streak` (
  `id_streak` int NOT NULL AUTO_INCREMENT,
  `id_user` int DEFAULT NULL,
  `value` int NOT NULL,
  `id_frequency` int NOT NULL,
  `last_value` int DEFAULT NULL,
  `recovery_items` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_streak`),
  KEY `id_user` (`id_user`),
  KEY `fk_streak_frequency` (`id_frequency`),
  KEY `idx_streak_user` (`id_user`),
  CONSTRAINT `fk_streak_frequency` FOREIGN KEY (`id_frequency`) REFERENCES `frequency` (`id_frequency`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_streak_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `streak`
--

LOCK TABLES `streak` WRITE;
/*!40000 ALTER TABLE `streak` DISABLE KEYS */;
INSERT INTO `streak` VALUES (2,2,0,2,NULL,0,'2025-10-06 04:01:38','2025-10-06 04:01:38');
/*!40000 ALTER TABLE `streak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_ledger`
--

DROP TABLE IF EXISTS `token_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_ledger` (
  `id_ledger` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `delta` int NOT NULL COMMENT 'Positivo=ganancia, negativo=gasto',
  `reason` varchar(100) NOT NULL COMMENT 'ATTENDANCE, ROUTINE_COMPLETE, REWARD_CLAIM, WEEKLY_BONUS, etc.',
  `ref_type` varchar(50) DEFAULT NULL COMMENT 'assistance, claimed_reward, routine, etc.',
  `ref_id` bigint DEFAULT NULL COMMENT 'ID del registro relacionado',
  `balance_after` int NOT NULL COMMENT 'Balance despu├®s de aplicar delta',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_ledger`),
  KEY `idx_ledger_user_date` (`id_user_profile`,`created_at`),
  KEY `idx_ledger_ref` (`ref_type`,`ref_id`),
  KEY `idx_ledger_reason` (`reason`),
  CONSTRAINT `token_ledger_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_balance_positive` CHECK ((`balance_after` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_ledger`
--

LOCK TABLES `token_ledger` WRITE;
/*!40000 ALTER TABLE `token_ledger` DISABLE KEYS */;
INSERT INTO `token_ledger` VALUES (2,2,200,'LEGACY_GAIN',NULL,NULL,200,'2025-05-31 00:00:00'),(3,2,-100,'LEGACY_SPEND','claimed_reward',1,100,'2025-05-31 00:00:00'),(12,2,11,'s',NULL,NULL,621,'2025-10-08 02:27:20');
/*!40000 ALTER TABLE `token_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_body_metrics`
--

DROP TABLE IF EXISTS `user_body_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_body_metrics` (
  `id_body_metrics` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL COMMENT 'Usuario propietario de las m├®tricas',
  `recorded_date` date NOT NULL COMMENT 'Fecha de registro de las m├®tricas',
  `weight_kg` decimal(5,2) DEFAULT NULL COMMENT 'Peso en kilogramos',
  `height_cm` decimal(5,2) DEFAULT NULL COMMENT 'Altura en cent├¡metros',
  `bmi` decimal(4,2) DEFAULT NULL COMMENT '├ìndice de Masa Corporal (calculado)',
  `body_fat_percentage` decimal(4,2) DEFAULT NULL COMMENT 'Porcentaje de grasa corporal',
  `muscle_mass_kg` decimal(5,2) DEFAULT NULL COMMENT 'Masa muscular en kilogramos',
  `chest_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia del pecho en cm',
  `waist_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia de la cintura en cm',
  `hip_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia de la cadera en cm',
  `arm_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia del brazo en cm',
  `thigh_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia del muslo en cm',
  `neck_cm` decimal(5,2) DEFAULT NULL COMMENT 'Circunferencia del cuello en cm',
  `measurement_method` enum('MANUAL','SCALE','BODY_COMPOSITION','OTHER') DEFAULT NULL COMMENT 'M├®todo de medici├│n utilizado',
  `notes` text COMMENT 'Notas adicionales sobre las mediciones',
  `is_goal_weight` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Indica si este peso es un objetivo marcado',
  `tokens_earned` int NOT NULL DEFAULT '0' COMMENT 'Tokens ganados por registrar m├®tricas consistentemente',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_body_metrics`),
  UNIQUE KEY `idx_body_metrics_user_date` (`id_user_profile`,`recorded_date`),
  KEY `idx_body_metrics_user_date_chart` (`id_user_profile`,`recorded_date`),
  KEY `idx_body_metrics_date` (`recorded_date`),
  KEY `idx_body_metrics_method` (`measurement_method`),
  KEY `idx_body_metrics_goal_weight` (`is_goal_weight`,`recorded_date`),
  CONSTRAINT `user_body_metrics_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_body_metrics`
--

LOCK TABLES `user_body_metrics` WRITE;
/*!40000 ALTER TABLE `user_body_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_body_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_device_tokens`
--

DROP TABLE IF EXISTS `user_device_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_device_tokens` (
  `id_device_token` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL COMMENT 'Usuario propietario del dispositivo',
  `platform` enum('IOS','ANDROID','WEB') NOT NULL COMMENT 'Plataforma del dispositivo',
  `device_id` varchar(255) DEFAULT NULL COMMENT 'ID ├║nico del dispositivo (opcional)',
  `push_token` varchar(500) NOT NULL COMMENT 'Token de push notification',
  `app_version` varchar(20) DEFAULT NULL COMMENT 'Versi├│n de la app',
  `os_version` varchar(50) DEFAULT NULL COMMENT 'Versi├│n del sistema operativo',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Token activo para recibir notificaciones',
  `last_seen_at` datetime DEFAULT NULL COMMENT '├Ültima vez que se us├│ este token',
  `revoked_at` datetime DEFAULT NULL COMMENT 'Fecha de revocaci├│n del token',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_device_token`),
  UNIQUE KEY `idx_device_tokens_push_token` (`push_token`),
  KEY `idx_device_tokens_user_active` (`id_user_profile`,`is_active`),
  KEY `idx_device_tokens_platform_active` (`platform`,`is_active`),
  KEY `idx_device_tokens_last_seen` (`last_seen_at`),
  CONSTRAINT `user_device_tokens_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_device_tokens`
--

LOCK TABLES `user_device_tokens` WRITE;
/*!40000 ALTER TABLE `user_device_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_device_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_favorite_gym`
--

DROP TABLE IF EXISTS `user_favorite_gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_favorite_gym` (
  `id_favorite` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL COMMENT 'Usuario que marc├│ como favorito',
  `id_gym` int NOT NULL COMMENT 'Gimnasio marcado como favorito',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_favorite`),
  UNIQUE KEY `idx_favorite_user_gym` (`id_user_profile`,`id_gym`),
  KEY `idx_favorite_user_date` (`id_user_profile`,`created_at`),
  KEY `idx_favorite_gym` (`id_gym`),
  CONSTRAINT `user_favorite_gym_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_favorite_gym_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_favorite_gym`
--

LOCK TABLES `user_favorite_gym` WRITE;
/*!40000 ALTER TABLE `user_favorite_gym` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_favorite_gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_gym`
--

DROP TABLE IF EXISTS `user_gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_gym` (
  `id_user_gym` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `plan` enum('MENSUAL','SEMANAL','ANUAL') NOT NULL DEFAULT 'MENSUAL',
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_user_gym`),
  UNIQUE KEY `unique_active_gym` (`id_user`,`id_gym`,`active`),
  KEY `id_gym` (`id_gym`),
  KEY `idx_user_gym_user` (`id_user`),
  CONSTRAINT `fk_user_gym_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_gym_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`),
  CONSTRAINT `chk_gym_dates` CHECK (((`finish_date` is null) or (`finish_date` >= `start_date`)))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_gym`
--

LOCK TABLES `user_gym` WRITE;
/*!40000 ALTER TABLE `user_gym` DISABLE KEYS */;
INSERT INTO `user_gym` VALUES (1,1,'2025-05-31','2025-05-31',0,'MENSUAL',2,'2025-10-07 03:15:53','2025-10-07 03:15:53'),(2,2,'2025-05-31',NULL,1,'MENSUAL',2,'2025-10-07 03:15:53','2025-10-07 03:15:53');
/*!40000 ALTER TABLE `user_gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profiles` (
  `id_user_profile` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL COMMENT 'Relaci├│n 1:1 con account',
  `name` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `gender` enum('M','F','O') NOT NULL DEFAULT 'O',
  `age` tinyint DEFAULT NULL,
  `locality` varchar(100) DEFAULT NULL,
  `subscription` enum('FREE','PREMIUM') NOT NULL DEFAULT 'FREE' COMMENT 'Nivel de suscripci├│n del usuario',
  `tokens` int NOT NULL DEFAULT '0' COMMENT 'Tokens acumulados',
  `id_streak` int DEFAULT NULL COMMENT 'Racha actual del usuario',
  `profile_picture_url` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_user_profile`),
  UNIQUE KEY `id_account` (`id_account`),
  KEY `idx_user_profiles_subscription` (`subscription`),
  KEY `idx_user_profiles_tokens` (`tokens`),
  KEY `fk_user_profile_streak` (`id_streak`),
  CONSTRAINT `fk_user_profile_streak` FOREIGN KEY (`id_streak`) REFERENCES `streak` (`id_streak`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `user_profiles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_tokens_positive` CHECK ((`tokens` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
INSERT INTO `user_profiles` VALUES (2,3,'Gonzalo','Gomez','M',23,'Buenos Aires','FREE',621,2,NULL,'2025-10-06 02:07:30','2025-10-08 02:27:20');
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_routine`
--

DROP TABLE IF EXISTS `user_routine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_routine` (
  `id_user_routine` int NOT NULL AUTO_INCREMENT,
  `id_routine` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_user_routine`),
  UNIQUE KEY `unique_active_routine` (`id_user`,`id_routine`,`active`),
  KEY `id_routine` (`id_routine`),
  KEY `idx_user_routine_user` (`id_user`),
  CONSTRAINT `fk_user_routine_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_routine_ibfk_2` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`),
  CONSTRAINT `chk_routine_dates` CHECK (((`finish_date` is null) or (`finish_date` >= `start_date`)))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_routine`
--

LOCK TABLES `user_routine` WRITE;
/*!40000 ALTER TABLE `user_routine` DISABLE KEYS */;
INSERT INTO `user_routine` VALUES (1,1,'2025-06-01',NULL,1,2,'2025-10-07 03:15:53','2025-10-07 03:15:53');
/*!40000 ALTER TABLE `user_routine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workout_session`
--

DROP TABLE IF EXISTS `workout_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout_session` (
  `id_workout_session` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL COMMENT 'Usuario que realiz├│ la sesi├│n',
  `id_routine` int DEFAULT NULL COMMENT 'Rutina seguida (opcional)',
  `id_routine_day` bigint DEFAULT NULL COMMENT 'D├¡a espec├¡fico de la rutina',
  `session_name` varchar(200) DEFAULT NULL COMMENT 'Nombre personalizado de la sesi├│n',
  `session_date` date NOT NULL COMMENT 'Fecha de la sesi├│n',
  `start_time` time DEFAULT NULL COMMENT 'Hora de inicio',
  `end_time` time DEFAULT NULL COMMENT 'Hora de finalizaci├│n',
  `duration_minutes` int DEFAULT NULL COMMENT 'Duraci├│n en minutos (calculada)',
  `total_sets` int NOT NULL DEFAULT '0' COMMENT 'Total de series realizadas',
  `total_reps` int NOT NULL DEFAULT '0' COMMENT 'Total de repeticiones realizadas',
  `total_weight` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Peso total levantado (kg)',
  `status` enum('IN_PROGRESS','COMPLETED','CANCELLED') NOT NULL DEFAULT 'IN_PROGRESS' COMMENT 'Estado de la sesi├│n',
  `notes` text COMMENT 'Notas de la sesi├│n',
  `tokens_earned` int NOT NULL DEFAULT '0' COMMENT 'Tokens ganados por completar la sesi├│n',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_workout_session`),
  KEY `id_routine_day` (`id_routine_day`),
  KEY `idx_workout_session_user_date` (`id_user_profile`,`session_date`),
  KEY `idx_workout_session_routine_date` (`id_routine`,`session_date`),
  KEY `idx_workout_session_status_date` (`status`,`session_date`),
  CONSTRAINT `workout_session_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `workout_session_ibfk_2` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `workout_session_ibfk_3` FOREIGN KEY (`id_routine_day`) REFERENCES `routine_day` (`id_routine_day`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout_session`
--

LOCK TABLES `workout_session` WRITE;
/*!40000 ALTER TABLE `workout_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `workout_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workout_set`
--

DROP TABLE IF EXISTS `workout_set`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout_set` (
  `id_workout_set` bigint NOT NULL AUTO_INCREMENT,
  `id_workout_session` bigint NOT NULL COMMENT 'Sesi├│n a la que pertenece la serie',
  `id_exercise` int NOT NULL COMMENT 'Ejercicio realizado',
  `set_number` tinyint NOT NULL COMMENT 'N├║mero de serie (1, 2, 3, etc.)',
  `reps` int DEFAULT NULL COMMENT 'Repeticiones realizadas',
  `weight` decimal(8,2) DEFAULT NULL COMMENT 'Peso utilizado (kg)',
  `duration_seconds` int DEFAULT NULL COMMENT 'Duraci├│n en segundos (para ejercicios de tiempo)',
  `distance_meters` decimal(10,2) DEFAULT NULL COMMENT 'Distancia en metros (para cardio)',
  `rest_seconds` int DEFAULT NULL COMMENT 'Descanso entre series (segundos)',
  `rpe` tinyint DEFAULT NULL COMMENT 'Rate of Perceived Exertion (1-10)',
  `notes` text COMMENT 'Notas de la serie',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_workout_set`),
  KEY `idx_workout_set_session_number` (`id_workout_session`,`set_number`),
  KEY `idx_workout_set_exercise_date` (`id_exercise`,`created_at`),
  CONSTRAINT `workout_set_ibfk_1` FOREIGN KEY (`id_workout_session`) REFERENCES `workout_session` (`id_workout_session`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `workout_set_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout_set`
--

LOCK TABLES `workout_set` WRITE;
/*!40000 ALTER TABLE `workout_set` DISABLE KEYS */;
/*!40000 ALTER TABLE `workout_set` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'gympoint'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-10 22:35:57
