-- MySQL dump 10.13  Distrib 8.4.6, for Linux (x86_64)
--
-- Host: localhost    Database: gympoint
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `SequelizeMeta`
--

DROP TABLE IF EXISTS `SequelizeMeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SequelizeMeta` (
  `name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SequelizeMeta`
--

LOCK TABLES `SequelizeMeta` WRITE;
/*!40000 ALTER TABLE `SequelizeMeta` DISABLE KEYS */;
/*!40000 ALTER TABLE `SequelizeMeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_deletion_request`
--

DROP TABLE IF EXISTS `account_deletion_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_deletion_request` (
  `id_request` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL,
  `reason` text,
  `scheduled_deletion_date` date NOT NULL,
  `status` enum('PENDING','CANCELLED','COMPLETED') NOT NULL DEFAULT 'PENDING',
  `requested_at` datetime NOT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  PRIMARY KEY (`id_request`),
  KEY `id_account` (`id_account`),
  KEY `idx_account_deletion_status_date` (`status`,`scheduled_deletion_date`),
  CONSTRAINT `account_deletion_request_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_deletion_request`
--

LOCK TABLES `account_deletion_request` WRITE;
/*!40000 ALTER TABLE `account_deletion_request` DISABLE KEYS */;
INSERT INTO `account_deletion_request` VALUES (1,3,NULL,'2025-11-12','CANCELLED','2025-10-13 18:32:24','2025-10-13 18:32:35',NULL,'{\"cancelled_at\": \"2025-10-13T18:32:35.057Z\", \"requested_via\": \"SELF_SERVICE\", \"grace_period_days\": 30}'),(6,8,'Seeded pending deletion','2025-10-12','COMPLETED','2025-10-13 19:13:58',NULL,'2025-10-13 19:13:58','{\"source\": \"seed-script\", \"created_at\": \"2025-10-13T19:13:58.602Z\", \"processed_at\": \"2025-10-13T19:13:58.621Z\"}');
/*!40000 ALTER TABLE `account_deletion_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_roles`
--

DROP TABLE IF EXISTS `account_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_roles` (
  `id_account_role` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL,
  `id_role` int NOT NULL,
  `assigned_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_account_role`),
  UNIQUE KEY `unique_account_role` (`id_account`,`id_role`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `account_roles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `account_roles_ibfk_2` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_roles`
--

LOCK TABLES `account_roles` WRITE;
/*!40000 ALTER TABLE `account_roles` DISABLE KEYS */;
INSERT INTO `account_roles` VALUES (1,1,1,'2025-10-13 18:27:49'),(2,2,2,'2025-10-13 18:27:49'),(3,3,1,'2025-10-13 18:28:23'),(8,8,1,'2025-10-13 19:13:58'),(9,9,1,'2025-10-13 23:09:54');
/*!40000 ALTER TABLE `account_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id_account` int NOT NULL AUTO_INCREMENT COMMENT 'ID ├║nico de la cuenta',
  `email` varchar(100) NOT NULL COMMENT 'Email ├║nico para login',
  `password_hash` varchar(255) DEFAULT NULL COMMENT 'Hash de contrase├▒a (NULL si es login social)',
  `auth_provider` enum('local','google') NOT NULL DEFAULT 'local' COMMENT 'Proveedor de autenticaci├│n',
  `google_id` varchar(255) DEFAULT NULL COMMENT 'ID de Google (si usa Google OAuth)',
  `email_verified` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Si el email est├í verificado',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Si la cuenta est├í activa (no baneada)',
  `last_login` datetime DEFAULT NULL COMMENT '├Ültima fecha de login',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_account`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `google_id` (`google_id`),
  KEY `idx_accounts_email` (`email`),
  KEY `idx_accounts_google_id` (`google_id`),
  KEY `idx_accounts_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_profiles`
--

DROP TABLE IF EXISTS `admin_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_profiles` (
  `id_admin_profile` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL COMMENT 'Relaci├│n 1:1 con account',
  `name` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `department` varchar(100) DEFAULT NULL COMMENT 'Departamento (IT, Support, Management, etc.)',
  `notes` text COMMENT 'Notas internas sobre el admin',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_admin_profile`),
  UNIQUE KEY `id_account` (`id_account`),
  CONSTRAINT `admin_profiles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_profiles`
--

LOCK TABLES `admin_profiles` WRITE;
/*!40000 ALTER TABLE `admin_profiles` DISABLE KEYS */;
INSERT INTO `admin_profiles` VALUES (1,2,'Admin','Principal','System','Migrado desde user #2','2025-10-13 18:27:49','2025-10-13 18:27:49');
/*!40000 ALTER TABLE `admin_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assistance`
--

DROP TABLE IF EXISTS `assistance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assistance` (
  `id_assistance` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `date` date NOT NULL,
  `id_gym` int NOT NULL,
  `id_streak` int NOT NULL,
  `hour` time NOT NULL,
  `check_in_time` time DEFAULT NULL,
  `check_out_time` time DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_assistance`),
  UNIQUE KEY `unique_assistance_user_gym_date` (`id_user`,`id_gym`,`date`),
  KEY `id_user` (`id_user`),
  KEY `id_gym` (`id_gym`),
  KEY `id_streak` (`id_streak`),
  KEY `idx_assistance_user_date` (`id_user`,`date`),
  KEY `idx_assistance_gym_date` (`id_gym`,`date`),
  CONSTRAINT `assistance_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`),
  CONSTRAINT `assistance_ibfk_3` FOREIGN KEY (`id_streak`) REFERENCES `streak` (`id_streak`),
  CONSTRAINT `fk_assistance_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assistance`
--

LOCK TABLES `assistance` WRITE;
/*!40000 ALTER TABLE `assistance` DISABLE KEYS */;
INSERT INTO `assistance` VALUES (1,1,'2025-05-30',1,1,'17:20:57',NULL,NULL,'2025-10-13 18:27:55',0);
/*!40000 ALTER TABLE `assistance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claimed_reward`
--

DROP TABLE IF EXISTS `claimed_reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claimed_reward` (
  `id_claimed_reward` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_reward` int NOT NULL,
  `id_code` int DEFAULT NULL,
  `claimed_date` date NOT NULL,
  `provider_snapshot` enum('system','gym') DEFAULT NULL,
  `gym_id_snapshot` bigint DEFAULT NULL,
  `status` enum('pending','redeemed','revoked') NOT NULL,
  PRIMARY KEY (`id_claimed_reward`),
  KEY `id_user` (`id_user`),
  KEY `id_reward` (`id_reward`),
  KEY `fk_claimed_reward_code` (`id_code`),
  KEY `idx_claimed_reward_gym_date` (`gym_id_snapshot`,`claimed_date`),
  KEY `idx_claimed_reward_stats` (`id_reward`,`status`,`claimed_date`),
  KEY `idx_claimed_status_date` (`id_user`,`status`,`claimed_date`),
  CONSTRAINT `claimed_reward_ibfk_2` FOREIGN KEY (`id_reward`) REFERENCES `reward` (`id_reward`),
  CONSTRAINT `fk_claimed_reward_code` FOREIGN KEY (`id_code`) REFERENCES `reward_code` (`id_code`) ON DELETE SET NULL,
  CONSTRAINT `fk_claimed_reward_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claimed_reward`
--

LOCK TABLES `claimed_reward` WRITE;
/*!40000 ALTER TABLE `claimed_reward` DISABLE KEYS */;
INSERT INTO `claimed_reward` VALUES (1,2,1,1,'2025-05-31','system',NULL,'redeemed');
/*!40000 ALTER TABLE `claimed_reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exercise`
--

DROP TABLE IF EXISTS `exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exercise` (
  `id_exercise` int NOT NULL AUTO_INCREMENT,
  `exercise_name` varchar(100) NOT NULL,
  `muscular_group` varchar(100) NOT NULL,
  `created_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_exercise`),
  KEY `exercise_created_by_foreign_idx` (`created_by`),
  KEY `idx_exercise_deleted_at` (`deleted_at`),
  CONSTRAINT `exercise_created_by_foreign_idx` FOREIGN KEY (`created_by`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exercise`
--

LOCK TABLES `exercise` WRITE;
/*!40000 ALTER TABLE `exercise` DISABLE KEYS */;
INSERT INTO `exercise` VALUES (1,'Press de banca','Pecho',NULL,NULL,'2025-10-13 18:27:58','2025-10-13 18:27:58'),(2,'Press de banca inclinado','Pecho',NULL,NULL,'2025-10-13 18:27:58','2025-10-13 18:27:58'),(3,'Mariposa','Pecho',NULL,NULL,'2025-10-13 18:27:58','2025-10-13 18:27:58');
/*!40000 ALTER TABLE `exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frequency`
--

DROP TABLE IF EXISTS `frequency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frequency` (
  `id_frequency` int NOT NULL AUTO_INCREMENT,
  `achieved_goal` tinyint(1) NOT NULL,
  `goal` tinyint NOT NULL,
  `assist` tinyint NOT NULL,
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `week_start_date` date NOT NULL,
  `week_number` tinyint NOT NULL,
  `year` smallint NOT NULL,
  PRIMARY KEY (`id_frequency`),
  UNIQUE KEY `unique_frequency_user_week` (`id_user`,`year`,`week_number`),
  KEY `idx_frequency_user` (`id_user`),
  CONSTRAINT `fk_frequency_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_goal_positive` CHECK ((`goal` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frequency`
--

LOCK TABLES `frequency` WRITE;
/*!40000 ALTER TABLE `frequency` DISABLE KEYS */;
INSERT INTO `frequency` VALUES (1,0,3,1,1,'2025-10-13 18:27:55','2025-10-13 18:28:04','2025-10-13',42,2025),(3,0,3,0,2,'2025-10-13 18:28:23','2025-10-13 18:28:23','2025-10-13',42,2025),(4,0,3,0,8,'2025-10-13 23:09:54','2025-10-13 23:09:54','2025-10-13',42,2025);
/*!40000 ALTER TABLE `frequency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frequency_history`
--

DROP TABLE IF EXISTS `frequency_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frequency_history` (
  `id_history` int NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `week_start_date` date NOT NULL,
  `week_end_date` date NOT NULL,
  `goal` tinyint NOT NULL,
  `achieved` tinyint NOT NULL,
  `goal_met` tinyint(1) NOT NULL,
  `tokens_earned` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id_history`),
  KEY `idx_frequency_history_user_date` (`id_user_profile`,`week_start_date`),
  CONSTRAINT `frequency_history_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frequency_history`
--

LOCK TABLES `frequency_history` WRITE;
/*!40000 ALTER TABLE `frequency_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `frequency_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym`
--

DROP TABLE IF EXISTS `gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym` (
  `id_gym` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `city` varchar(50) NOT NULL,
  `address` varchar(100) NOT NULL,
  `latitude` decimal(10,6) DEFAULT NULL,
  `longitude` decimal(10,6) DEFAULT NULL,
  `google_maps_url` varchar(500) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `website` varchar(500) DEFAULT NULL,
  `social_media` json DEFAULT NULL,
  `instagram` varchar(100) DEFAULT NULL,
  `facebook` varchar(100) DEFAULT NULL,
  `registration_date` date NOT NULL,
  `equipment` json NOT NULL,
  `month_price` double NOT NULL,
  `week_price` double NOT NULL,
  `logo_url` varchar(512) DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `photo_url` varchar(500) DEFAULT NULL COMMENT 'URL de la foto principal del gimnasio',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `max_capacity` int DEFAULT NULL,
  `area_sqm` decimal(10,2) DEFAULT NULL,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_gym`),
  KEY `idx_gym_location` (`latitude`,`longitude`),
  KEY `idx_gym_deleted_at` (`deleted_at`),
  KEY `idx_gym_created_at` (`created_at`),
  CONSTRAINT `chk_latitude` CHECK ((`latitude` between -(90) and 90)),
  CONSTRAINT `chk_longitude` CHECK ((`longitude` between -(180) and 180))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym`
--

LOCK TABLES `gym` WRITE;
/*!40000 ALTER TABLE `gym` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_amenity`
--

DROP TABLE IF EXISTS `gym_amenity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_amenity` (
  `id_amenity` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `category` enum('FACILITY','SERVICE','SAFETY','EXTRA') NOT NULL DEFAULT 'FACILITY',
  `icon` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_amenity`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_amenity`
--

LOCK TABLES `gym_amenity` WRITE;
/*!40000 ALTER TABLE `gym_amenity` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_amenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_gym_amenity`
--

DROP TABLE IF EXISTS `gym_gym_amenity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_gym_amenity` (
  `id_gym_amenity` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `id_amenity` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id_gym_amenity`),
  UNIQUE KEY `unique_gym_amenity` (`id_gym`,`id_amenity`),
  KEY `id_amenity` (`id_amenity`),
  CONSTRAINT `gym_gym_amenity_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gym_gym_amenity_ibfk_2` FOREIGN KEY (`id_amenity`) REFERENCES `gym_amenity` (`id_amenity`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_gym_amenity`
--

LOCK TABLES `gym_gym_amenity` WRITE;
/*!40000 ALTER TABLE `gym_gym_amenity` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_gym_amenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_gym_type`
--

DROP TABLE IF EXISTS `gym_gym_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_gym_type` (
  `id_gym` int NOT NULL,
  `id_type` int NOT NULL,
  PRIMARY KEY (`id_gym`,`id_type`),
  KEY `id_type` (`id_type`),
  CONSTRAINT `gym_gym_type_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE,
  CONSTRAINT `gym_gym_type_ibfk_2` FOREIGN KEY (`id_type`) REFERENCES `gym_type` (`id_type`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_gym_type`
--

LOCK TABLES `gym_gym_type` WRITE;
/*!40000 ALTER TABLE `gym_gym_type` DISABLE KEYS */;
INSERT INTO `gym_gym_type` VALUES (1,1),(2,1),(3,1),(5,1),(1,2),(2,2),(3,2),(5,2);
/*!40000 ALTER TABLE `gym_gym_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_payment`
--

DROP TABLE IF EXISTS `gym_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_payment` (
  `id_payment` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_gym` int NOT NULL,
  `mount` decimal(10,2) NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `payment_date` date NOT NULL,
  `status` varchar(20) NOT NULL,
  PRIMARY KEY (`id_payment`),
  KEY `id_user` (`id_user`),
  KEY `id_gym` (`id_gym`),
  KEY `idx_payment_user_date` (`id_user`,`payment_date`),
  CONSTRAINT `fk_gym_payment_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gym_payment_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_payment`
--

LOCK TABLES `gym_payment` WRITE;
/*!40000 ALTER TABLE `gym_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_rating_stats`
--

DROP TABLE IF EXISTS `gym_rating_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_rating_stats` (
  `id_gym` int NOT NULL,
  `avg_rating` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_reviews` int NOT NULL DEFAULT '0',
  `rating_5_count` int NOT NULL DEFAULT '0',
  `rating_4_count` int NOT NULL DEFAULT '0',
  `rating_3_count` int NOT NULL DEFAULT '0',
  `rating_2_count` int NOT NULL DEFAULT '0',
  `rating_1_count` int NOT NULL DEFAULT '0',
  `avg_cleanliness` decimal(3,2) NOT NULL DEFAULT '0.00',
  `avg_equipment` decimal(3,2) NOT NULL DEFAULT '0.00',
  `avg_staff` decimal(3,2) NOT NULL DEFAULT '0.00',
  `avg_value` decimal(3,2) NOT NULL DEFAULT '0.00',
  `last_review_date` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_gym`),
  KEY `idx_gym_stats_rating` (`avg_rating`),
  CONSTRAINT `gym_rating_stats_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_rating_stats`
--

LOCK TABLES `gym_rating_stats` WRITE;
/*!40000 ALTER TABLE `gym_rating_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_rating_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_review`
--

DROP TABLE IF EXISTS `gym_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_review` (
  `id_review` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `id_user_profile` int NOT NULL,
  `rating` decimal(2,1) NOT NULL,
  `title` varchar(100) DEFAULT NULL,
  `comment` text,
  `cleanliness_rating` tinyint DEFAULT NULL,
  `equipment_rating` tinyint DEFAULT NULL,
  `staff_rating` tinyint DEFAULT NULL,
  `value_rating` tinyint DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT '0',
  `helpful_count` int NOT NULL DEFAULT '0',
  `reported` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_review`),
  UNIQUE KEY `uniq_user_gym_review` (`id_user_profile`,`id_gym`),
  KEY `idx_gym_rating` (`id_gym`,`rating`),
  KEY `idx_review_created_at` (`created_at`),
  CONSTRAINT `gym_review_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gym_review_ibfk_2` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_review`
--

LOCK TABLES `gym_review` WRITE;
/*!40000 ALTER TABLE `gym_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_schedule`
--

DROP TABLE IF EXISTS `gym_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_schedule` (
  `id_schedule` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `day_of_week` varchar(10) NOT NULL,
  `opening_time` time DEFAULT NULL,
  `closing_time` time DEFAULT NULL,
  `closed` tinyint(1) NOT NULL,
  PRIMARY KEY (`id_schedule`),
  KEY `id_gym` (`id_gym`),
  CONSTRAINT `gym_schedule_ibfk_1` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_schedule`
--

LOCK TABLES `gym_schedule` WRITE;
/*!40000 ALTER TABLE `gym_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_special_schedule`
--

DROP TABLE IF EXISTS `gym_special_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_special_schedule` (
  `id_special` int NOT NULL AUTO_INCREMENT,
  `id_gym` int NOT NULL,
  `date` date NOT NULL,
  `opening_time` time DEFAULT NULL,
  `closing_time` time DEFAULT NULL,
  `closed` tinyint(1) NOT NULL,
  `motive` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_special`),
  KEY `fk_special_schedule_gym` (`id_gym`),
  CONSTRAINT `fk_special_schedule_gym` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_special_schedule`
--

LOCK TABLES `gym_special_schedule` WRITE;
/*!40000 ALTER TABLE `gym_special_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym_special_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym_type`
--

DROP TABLE IF EXISTS `gym_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gym_type` (
  `id_type` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id_type`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym_type`
--

LOCK TABLES `gym_type` WRITE;
/*!40000 ALTER TABLE `gym_type` DISABLE KEYS */;
INSERT INTO `gym_type` VALUES (7,'boxeo'),(4,'Cardio'),(8,'completo'),(2,'Crossfit'),(9,'exclusivo'),(10,'express'),(11,'femenino'),(3,'Funcional'),(5,'HIIT'),(1,'Musculaci├│n'),(12,'powerlifting'),(6,'Yoga');
/*!40000 ALTER TABLE `gym_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `media` (
  `id_media` int NOT NULL AUTO_INCREMENT,
  `entity_type` enum('USER_PROFILE','GYM','EXERCISE','PROGRESS') NOT NULL,
  `entity_id` int NOT NULL,
  `media_type` enum('IMAGE','VIDEO') NOT NULL DEFAULT 'IMAGE',
  `url` varchar(500) NOT NULL,
  `thumbnail_url` varchar(500) DEFAULT NULL,
  `file_size` int DEFAULT NULL COMMENT 'Tama├▒o del archivo en bytes',
  `mime_type` varchar(100) DEFAULT NULL,
  `width` int DEFAULT NULL,
  `height` int DEFAULT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT '0',
  `display_order` int NOT NULL DEFAULT '0',
  `uploaded_at` datetime NOT NULL,
  PRIMARY KEY (`id_media`),
  KEY `idx_media_entity` (`entity_type`,`entity_id`),
  KEY `idx_media_primary` (`entity_type`,`entity_id`,`is_primary`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mercadopago_payment`
--

DROP TABLE IF EXISTS `mercadopago_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mercadopago_payment` (
  `id_mp_payment` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `id_gym` int NOT NULL,
  `subscription_type` enum('MONTHLY','WEEKLY','DAILY','ANNUAL') NOT NULL DEFAULT 'MONTHLY',
  `auto_renew` tinyint(1) NOT NULL DEFAULT '0',
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'ARS',
  `description` varchar(255) DEFAULT NULL,
  `preference_id` varchar(100) DEFAULT NULL,
  `payment_id` varchar(100) DEFAULT NULL,
  `merchant_order_id` varchar(100) DEFAULT NULL,
  `external_reference` varchar(150) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','AUTHORIZED','IN_PROCESS','IN_MEDIATION','REJECTED','CANCELLED','REFUNDED','CHARGED_BACK') NOT NULL DEFAULT 'PENDING',
  `status_detail` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_type` varchar(50) DEFAULT NULL,
  `payment_date` datetime DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `webhook_received_at` datetime DEFAULT NULL,
  `payer_email` varchar(120) DEFAULT NULL,
  `raw_response` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_mp_payment`),
  UNIQUE KEY `external_reference` (`external_reference`),
  KEY `id_gym` (`id_gym`),
  KEY `idx_mp_payment_id` (`payment_id`),
  KEY `idx_mp_preference_id` (`preference_id`),
  KEY `idx_mp_status` (`status`),
  KEY `idx_mp_user_gym` (`id_user_profile`,`id_gym`),
  CONSTRAINT `mercadopago_payment_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `mercadopago_payment_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mercadopago_payment`
--

LOCK TABLES `mercadopago_payment` WRITE;
/*!40000 ALTER TABLE `mercadopago_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `mercadopago_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id_notification` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `type` enum('REMINDER','ACHIEVEMENT','REWARD','GYM_UPDATE','PAYMENT','SOCIAL','SYSTEM') NOT NULL,
  `title` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `action_url` varchar(500) DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `read_at` datetime DEFAULT NULL,
  `priority` enum('LOW','NORMAL','HIGH') NOT NULL DEFAULT 'NORMAL',
  `scheduled_for` datetime DEFAULT NULL,
  `sent_at` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_notification`),
  KEY `idx_notification_user_unread` (`id_user_profile`,`is_read`,`created_at`),
  KEY `idx_notification_scheduled` (`scheduled_for`,`sent_at`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress`
--

DROP TABLE IF EXISTS `progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress` (
  `id_progress` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `body_weight` int DEFAULT NULL,
  `body_fat` tinyint DEFAULT NULL,
  `id_user` int NOT NULL,
  PRIMARY KEY (`id_progress`),
  KEY `fk_progress_user_profile` (`id_user`),
  CONSTRAINT `fk_progress_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress`
--

LOCK TABLES `progress` WRITE;
/*!40000 ALTER TABLE `progress` DISABLE KEYS */;
INSERT INTO `progress` VALUES (1,'2025-06-01',72,15,1),(2,'2025-06-01',72,15,1);
/*!40000 ALTER TABLE `progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress_exercise`
--

DROP TABLE IF EXISTS `progress_exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress_exercise` (
  `id_progress` int NOT NULL,
  `id_exercise` int NOT NULL,
  `used_weight` int NOT NULL,
  `reps` int NOT NULL,
  PRIMARY KEY (`id_progress`,`id_exercise`),
  KEY `id_exercise` (`id_exercise`),
  CONSTRAINT `progress_exercise_ibfk_1` FOREIGN KEY (`id_progress`) REFERENCES `progress` (`id_progress`),
  CONSTRAINT `progress_exercise_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress_exercise`
--

LOCK TABLES `progress_exercise` WRITE;
/*!40000 ALTER TABLE `progress_exercise` DISABLE KEYS */;
INSERT INTO `progress_exercise` VALUES (1,1,100,10),(1,2,70,12),(1,3,80,8),(2,1,120,10),(2,2,70,12),(2,3,80,8);
/*!40000 ALTER TABLE `progress_exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `id_token` int NOT NULL AUTO_INCREMENT,
  `token` text NOT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `expires_at` datetime NOT NULL,
  `revoked` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `id_user` int NOT NULL,
  PRIMARY KEY (`id_token`),
  KEY `fk_refresh_token_user_profile` (`id_user`),
  KEY `idx_token_expiration` (`expires_at`,`revoked`),
  CONSTRAINT `fk_refresh_token_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_helpful`
--

DROP TABLE IF EXISTS `review_helpful`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review_helpful` (
  `id_review` int NOT NULL,
  `id_user_profile` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id_review`,`id_user_profile`),
  KEY `id_user_profile` (`id_user_profile`),
  CONSTRAINT `review_helpful_ibfk_1` FOREIGN KEY (`id_review`) REFERENCES `gym_review` (`id_review`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `review_helpful_ibfk_2` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_helpful`
--

LOCK TABLES `review_helpful` WRITE;
/*!40000 ALTER TABLE `review_helpful` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_helpful` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward`
--

DROP TABLE IF EXISTS `reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward` (
  `id_reward` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(250) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `cost_tokens` int NOT NULL,
  `available` tinyint(1) NOT NULL,
  `stock` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date NOT NULL,
  `creation_date` date NOT NULL,
  `provider` enum('system','gym') NOT NULL DEFAULT 'system',
  `id_gym` bigint DEFAULT NULL,
  `fulfillment_type` enum('auto','manual') NOT NULL DEFAULT 'auto',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_reward`),
  KEY `idx_reward_gym_provider` (`id_gym`,`provider`),
  KEY `idx_reward_deleted_at` (`deleted_at`),
  KEY `idx_reward_availability` (`available`,`start_date`,`finish_date`),
  CONSTRAINT `chk_cost_positive` CHECK ((`cost_tokens` > 0)),
  CONSTRAINT `chk_reward_dates` CHECK ((`finish_date` >= `start_date`)),
  CONSTRAINT `chk_stock_positive` CHECK ((`stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward`
--

LOCK TABLES `reward` WRITE;
/*!40000 ALTER TABLE `reward` DISABLE KEYS */;
INSERT INTO `reward` VALUES (1,'Descuento del 20%','Canjeable por un 20% de descuento en la pr├│xima mensualidad','descuento',100,1,49,'2025-05-01','2025-12-31','2025-05-31','system',NULL,'auto',NULL);
/*!40000 ALTER TABLE `reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_code`
--

DROP TABLE IF EXISTS `reward_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_code` (
  `id_code` int NOT NULL AUTO_INCREMENT,
  `id_reward` int NOT NULL,
  `id_gym` int NOT NULL,
  `code` varchar(50) NOT NULL,
  `expiration_date` datetime DEFAULT NULL,
  `used` tinyint(1) NOT NULL,
  `creation_date` datetime NOT NULL,
  PRIMARY KEY (`id_code`),
  KEY `id_reward` (`id_reward`),
  KEY `id_gym` (`id_gym`),
  CONSTRAINT `reward_code_ibfk_1` FOREIGN KEY (`id_reward`) REFERENCES `reward` (`id_reward`),
  CONSTRAINT `reward_code_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_code`
--

LOCK TABLES `reward_code` WRITE;
/*!40000 ALTER TABLE `reward_code` DISABLE KEYS */;
INSERT INTO `reward_code` VALUES (1,1,1,'GP-7QZPYULO','2025-08-29 07:05:55',1,'2025-05-31 07:05:55');
/*!40000 ALTER TABLE `reward_code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_gym_stats_daily`
--

DROP TABLE IF EXISTS `reward_gym_stats_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_gym_stats_daily` (
  `day` date NOT NULL,
  `gym_id` int NOT NULL,
  `claims` int NOT NULL DEFAULT '0',
  `redeemed` int NOT NULL DEFAULT '0',
  `revoked` int NOT NULL DEFAULT '0',
  `tokens_spent` int NOT NULL DEFAULT '0',
  `tokens_refunded` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`day`,`gym_id`),
  KEY `idx_reward_gym_stats_day` (`day`),
  KEY `idx_reward_gym_stats_gym_day` (`gym_id`,`day`),
  CONSTRAINT `reward_gym_stats_daily_ibfk_1` FOREIGN KEY (`gym_id`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_gym_stats_daily`
--

LOCK TABLES `reward_gym_stats_daily` WRITE;
/*!40000 ALTER TABLE `reward_gym_stats_daily` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_gym_stats_daily` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_role` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL COMMENT 'Nombre del rol (USER, ADMIN, MODERATOR, etc.)',
  `description` varchar(255) DEFAULT NULL COMMENT 'Descripci├│n del rol',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'USER','Usuario normal de la aplicaci├│n m├│vil','2025-10-13 18:27:49'),(2,'ADMIN','Administrador del sistema con acceso total','2025-10-13 18:27:49');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine`
--

DROP TABLE IF EXISTS `routine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine` (
  `id_routine` int NOT NULL AUTO_INCREMENT,
  `routine_name` varchar(100) NOT NULL,
  `description` varchar(250) DEFAULT NULL,
  `created_by` int NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_routine`),
  KEY `fk_routine_user_profile` (`created_by`),
  KEY `idx_routine_deleted_at` (`deleted_at`),
  CONSTRAINT `fk_routine_user_profile` FOREIGN KEY (`created_by`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine`
--

LOCK TABLES `routine` WRITE;
/*!40000 ALTER TABLE `routine` DISABLE KEYS */;
INSERT INTO `routine` VALUES (1,'Fuerza Semanal','Rutina enfocada en fuerza para tren superior',1,NULL);
/*!40000 ALTER TABLE `routine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine_day`
--

DROP TABLE IF EXISTS `routine_day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine_day` (
  `id_routine_day` int NOT NULL AUTO_INCREMENT,
  `id_routine` int NOT NULL,
  `day_number` tinyint NOT NULL COMMENT 'N├║mero del d├¡a dentro de la rutina (1..7)',
  `title` varchar(100) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_routine_day`),
  UNIQUE KEY `uq_routine_day_number` (`id_routine`,`day_number`),
  KEY `idx_routine_day_routine` (`id_routine`),
  CONSTRAINT `routine_day_ibfk_1` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine_day`
--

LOCK TABLES `routine_day` WRITE;
/*!40000 ALTER TABLE `routine_day` DISABLE KEYS */;
/*!40000 ALTER TABLE `routine_day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routine_exercise`
--

DROP TABLE IF EXISTS `routine_exercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routine_exercise` (
  `id_routine` int NOT NULL,
  `id_exercise` int NOT NULL,
  `series` tinyint NOT NULL,
  `reps` tinyint NOT NULL,
  `order` tinyint NOT NULL,
  `id_routine_day` int DEFAULT NULL,
  PRIMARY KEY (`id_routine`,`id_exercise`),
  KEY `id_exercise` (`id_exercise`),
  KEY `idx_routine_exercise_day` (`id_routine_day`),
  CONSTRAINT `fk_routine_exercise_day` FOREIGN KEY (`id_routine_day`) REFERENCES `routine_day` (`id_routine_day`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `routine_exercise_ibfk_1` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`),
  CONSTRAINT `routine_exercise_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routine_exercise`
--

LOCK TABLES `routine_exercise` WRITE;
/*!40000 ALTER TABLE `routine_exercise` DISABLE KEYS */;
INSERT INTO `routine_exercise` VALUES (1,1,4,10,1,NULL),(1,2,3,12,2,NULL);
/*!40000 ALTER TABLE `routine_exercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `streak`
--

DROP TABLE IF EXISTS `streak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `streak` (
  `id_streak` int NOT NULL AUTO_INCREMENT,
  `value` int NOT NULL,
  `id_frequency` int NOT NULL,
  `last_value` int DEFAULT NULL,
  `recovery_items` int NOT NULL DEFAULT '0',
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_streak`),
  KEY `fk_streak_frequency` (`id_frequency`),
  KEY `idx_streak_user` (`id_user`),
  CONSTRAINT `fk_streak_frequency` FOREIGN KEY (`id_frequency`) REFERENCES `frequency` (`id_frequency`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_streak_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `streak`
--

LOCK TABLES `streak` WRITE;
/*!40000 ALTER TABLE `streak` DISABLE KEYS */;
INSERT INTO `streak` VALUES (1,1,1,0,0,1,'2025-10-13 18:27:55','2025-10-13 18:27:55'),(3,0,3,NULL,0,2,'2025-10-13 18:28:23','2025-10-13 18:28:23'),(4,0,4,NULL,0,8,'2025-10-13 23:09:54','2025-10-13 23:09:54');
/*!40000 ALTER TABLE `streak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_ledger`
--

DROP TABLE IF EXISTS `token_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_ledger` (
  `id_ledger` bigint NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `delta` int NOT NULL COMMENT 'Positivo=ganancia, negativo=gasto',
  `reason` varchar(100) NOT NULL COMMENT 'ATTENDANCE, ROUTINE_COMPLETE, REWARD_CLAIM, WEEKLY_BONUS, etc.',
  `ref_type` varchar(50) DEFAULT NULL COMMENT 'assistance, claimed_reward, routine, etc.',
  `ref_id` bigint DEFAULT NULL COMMENT 'ID del registro relacionado',
  `balance_after` int NOT NULL COMMENT 'Balance despu├®s de aplicar delta',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `metadata` json DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_ledger`),
  KEY `idx_ledger_user_date` (`id_user_profile`,`created_at`),
  KEY `idx_ledger_ref` (`ref_type`,`ref_id`),
  KEY `idx_ledger_reason` (`reason`),
  CONSTRAINT `token_ledger_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_balance_positive` CHECK ((`balance_after` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_ledger`
--

LOCK TABLES `token_ledger` WRITE;
/*!40000 ALTER TABLE `token_ledger` DISABLE KEYS */;
INSERT INTO `token_ledger` VALUES (1,1,10,'LEGACY_GAIN',NULL,NULL,10,'2025-05-30 00:00:00',NULL,NULL),(2,1,200,'LEGACY_GAIN',NULL,NULL,210,'2025-05-31 00:00:00',NULL,NULL),(3,1,200,'LEGACY_GAIN',NULL,NULL,410,'2025-05-31 00:00:00',NULL,NULL),(4,1,200,'codigo',NULL,NULL,610,'2025-05-31 00:00:00',NULL,NULL);
/*!40000 ALTER TABLE `token_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_body_metrics`
--

DROP TABLE IF EXISTS `user_body_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_body_metrics` (
  `id_body_metric` int NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `measured_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `weight_kg` decimal(6,2) DEFAULT NULL,
  `height_cm` decimal(6,2) DEFAULT NULL,
  `bmi` decimal(6,2) DEFAULT NULL,
  `body_fat_percent` decimal(5,2) DEFAULT NULL,
  `muscle_mass_kg` decimal(6,2) DEFAULT NULL,
  `waist_cm` decimal(6,2) DEFAULT NULL,
  `hip_cm` decimal(6,2) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `source` enum('MANUAL','SMART_SCALE','TRAINER') NOT NULL DEFAULT 'MANUAL',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_body_metric`),
  KEY `idx_body_metrics_user` (`id_user_profile`),
  KEY `idx_body_metrics_measured_at` (`measured_at`),
  CONSTRAINT `user_body_metrics_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_body_metrics`
--

LOCK TABLES `user_body_metrics` WRITE;
/*!40000 ALTER TABLE `user_body_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_body_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_favorite_gym`
--

DROP TABLE IF EXISTS `user_favorite_gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_favorite_gym` (
  `id_user_profile` int NOT NULL,
  `id_gym` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id_user_profile`,`id_gym`),
  KEY `idx_favorite_gym` (`id_gym`),
  CONSTRAINT `user_favorite_gym_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_favorite_gym_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_favorite_gym`
--

LOCK TABLES `user_favorite_gym` WRITE;
/*!40000 ALTER TABLE `user_favorite_gym` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_favorite_gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_gym`
--

DROP TABLE IF EXISTS `user_gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_gym` (
  `id_gym` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `plan` enum('MENSUAL','SEMANAL','ANUAL') NOT NULL DEFAULT 'MENSUAL',
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_payment` bigint DEFAULT NULL,
  `subscription_type` enum('MONTHLY','WEEKLY','DAILY','ANNUAL') NOT NULL DEFAULT 'MONTHLY',
  `auto_renew` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_gym`),
  KEY `id_gym` (`id_gym`),
  KEY `fk_user_gym_user_profile` (`id_user`),
  KEY `user_gym_id_payment_foreign_idx` (`id_payment`),
  CONSTRAINT `fk_user_gym_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_gym_ibfk_2` FOREIGN KEY (`id_gym`) REFERENCES `gym` (`id_gym`),
  CONSTRAINT `user_gym_id_payment_foreign_idx` FOREIGN KEY (`id_payment`) REFERENCES `mercadopago_payment` (`id_mp_payment`) ON DELETE SET NULL ON UPDATE SET NULL,
  CONSTRAINT `chk_gym_dates` CHECK (((`finish_date` is null) or (`finish_date` >= `start_date`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_gym`
--

LOCK TABLES `user_gym` WRITE;
/*!40000 ALTER TABLE `user_gym` DISABLE KEYS */;
INSERT INTO `user_gym` VALUES (1,'2025-05-31','2025-05-31',0,'MENSUAL',1,'2025-10-13 18:27:57','2025-10-13 18:27:57',NULL,'MONTHLY',0),(2,'2025-05-31',NULL,1,'MENSUAL',1,'2025-10-13 18:27:57','2025-10-13 18:27:57',NULL,'MONTHLY',0);
/*!40000 ALTER TABLE `user_gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_notification_settings`
--

DROP TABLE IF EXISTS `user_notification_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_notification_settings` (
  `id_user_profile` int NOT NULL,
  `push_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `email_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `reminder_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `achievement_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `reward_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `gym_news_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `quiet_hours_start` time DEFAULT NULL,
  `quiet_hours_end` time DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_user_profile`),
  CONSTRAINT `user_notification_settings_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_notification_settings`
--

LOCK TABLES `user_notification_settings` WRITE;
/*!40000 ALTER TABLE `user_notification_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_notification_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profiles` (
  `id_user_profile` int NOT NULL AUTO_INCREMENT,
  `id_account` int NOT NULL COMMENT 'Relaci├│n 1:1 con account',
  `name` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `gender` enum('M','F','O') NOT NULL DEFAULT 'O',
  `age` tinyint DEFAULT NULL,
  `locality` varchar(100) DEFAULT NULL,
  `subscription` enum('FREE','PREMIUM') NOT NULL DEFAULT 'FREE' COMMENT 'Nivel de suscripci├│n del usuario',
  `tokens` int NOT NULL DEFAULT '0' COMMENT 'Tokens acumulados',
  `id_streak` int DEFAULT NULL COMMENT 'Racha actual del usuario',
  `profile_picture_url` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `premium_since` date DEFAULT NULL,
  `premium_expires` date DEFAULT NULL,
  `onboarding_completed` tinyint(1) NOT NULL DEFAULT '0',
  `preferred_language` varchar(5) NOT NULL DEFAULT 'es',
  `timezone` varchar(50) NOT NULL DEFAULT 'America/Argentina/Buenos_Aires',
  PRIMARY KEY (`id_user_profile`),
  UNIQUE KEY `id_account` (`id_account`),
  KEY `idx_user_profiles_subscription` (`subscription`),
  KEY `idx_user_profiles_tokens` (`tokens`),
  KEY `fk_user_profile_streak` (`id_streak`),
  CONSTRAINT `fk_user_profile_streak` FOREIGN KEY (`id_streak`) REFERENCES `streak` (`id_streak`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `user_profiles_ibfk_1` FOREIGN KEY (`id_account`) REFERENCES `accounts` (`id_account`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_tokens_positive` CHECK ((`tokens` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_routine`
--

DROP TABLE IF EXISTS `user_routine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_routine` (
  `id_routine` int NOT NULL,
  `start_date` date NOT NULL,
  `finish_date` date DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `id_user` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_routine`),
  KEY `id_routine` (`id_routine`),
  KEY `fk_user_routine_user_profile` (`id_user`),
  CONSTRAINT `fk_user_routine_user_profile` FOREIGN KEY (`id_user`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_routine_ibfk_2` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`),
  CONSTRAINT `chk_routine_dates` CHECK (((`finish_date` is null) or (`finish_date` >= `start_date`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_routine`
--

LOCK TABLES `user_routine` WRITE;
/*!40000 ALTER TABLE `user_routine` DISABLE KEYS */;
INSERT INTO `user_routine` VALUES (1,'2025-06-01',NULL,1,1,'2025-10-13 18:27:57','2025-10-13 18:27:57');
/*!40000 ALTER TABLE `user_routine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_gym_complete`
--

DROP TABLE IF EXISTS `vw_gym_complete`;
/*!50001 DROP VIEW IF EXISTS `vw_gym_complete`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_gym_complete` AS SELECT 
 1 AS `id_gym`,
 1 AS `name`,
 1 AS `description`,
 1 AS `city`,
 1 AS `address`,
 1 AS `latitude`,
 1 AS `longitude`,
 1 AS `phone`,
 1 AS `whatsapp`,
 1 AS `email`,
 1 AS `website`,
 1 AS `instagram`,
 1 AS `facebook`,
 1 AS `google_maps_url`,
 1 AS `max_capacity`,
 1 AS `area_sqm`,
 1 AS `verified`,
 1 AS `featured`,
 1 AS `month_price`,
 1 AS `week_price`,
 1 AS `photo_url`,
 1 AS `created_at`,
 1 AS `updated_at`,
 1 AS `rating`,
 1 AS `reviews_count`,
 1 AS `active_members`,
 1 AS `monthly_visits`,
 1 AS `favorites_count`,
 1 AS `main_image`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_user_dashboard`
--

DROP TABLE IF EXISTS `vw_user_dashboard`;
/*!50001 DROP VIEW IF EXISTS `vw_user_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_user_dashboard` AS SELECT 
 1 AS `id_user_profile`,
 1 AS `name`,
 1 AS `lastname`,
 1 AS `full_name`,
 1 AS `tokens`,
 1 AS `subscription`,
 1 AS `email`,
 1 AS `current_weight_kg`,
 1 AS `current_height_cm`,
 1 AS `current_bmi`,
 1 AS `weekly_goal`,
 1 AS `weekly_assists`,
 1 AS `current_streak`,
 1 AS `active_gyms`,
 1 AS `total_attendances`,
 1 AS `completed_workouts`,
 1 AS `member_since`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `workout_session`
--

DROP TABLE IF EXISTS `workout_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout_session` (
  `id_workout_session` int NOT NULL AUTO_INCREMENT,
  `id_user_profile` int NOT NULL,
  `id_routine` int DEFAULT NULL,
  `id_routine_day` int DEFAULT NULL,
  `status` enum('IN_PROGRESS','COMPLETED','CANCELLED') NOT NULL DEFAULT 'IN_PROGRESS',
  `started_at` datetime NOT NULL,
  `ended_at` datetime DEFAULT NULL,
  `duration_seconds` int DEFAULT NULL,
  `total_sets` int NOT NULL DEFAULT '0',
  `total_reps` int NOT NULL DEFAULT '0',
  `total_weight` decimal(12,2) NOT NULL DEFAULT '0.00',
  `notes` text,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_workout_session`),
  KEY `id_routine` (`id_routine`),
  KEY `id_routine_day` (`id_routine_day`),
  KEY `idx_workout_session_user` (`id_user_profile`),
  KEY `idx_workout_session_status` (`status`),
  KEY `idx_workout_session_started_at` (`started_at`),
  CONSTRAINT `workout_session_ibfk_1` FOREIGN KEY (`id_user_profile`) REFERENCES `user_profiles` (`id_user_profile`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `workout_session_ibfk_2` FOREIGN KEY (`id_routine`) REFERENCES `routine` (`id_routine`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `workout_session_ibfk_3` FOREIGN KEY (`id_routine_day`) REFERENCES `routine_day` (`id_routine_day`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout_session`
--

LOCK TABLES `workout_session` WRITE;
/*!40000 ALTER TABLE `workout_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `workout_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workout_set`
--

DROP TABLE IF EXISTS `workout_set`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout_set` (
  `id_workout_set` int NOT NULL AUTO_INCREMENT,
  `id_workout_session` int NOT NULL,
  `id_exercise` int NOT NULL,
  `set_number` smallint NOT NULL,
  `weight` decimal(8,2) DEFAULT NULL,
  `reps` smallint DEFAULT NULL,
  `rpe` decimal(3,1) DEFAULT NULL COMMENT 'Perceived exertion (RPE o RIR invertido)',
  `rest_seconds` int DEFAULT NULL,
  `is_warmup` tinyint(1) NOT NULL DEFAULT '0',
  `notes` varchar(255) DEFAULT NULL,
  `performed_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id_workout_set`),
  KEY `idx_workout_set_session` (`id_workout_session`),
  KEY `idx_workout_set_exercise` (`id_exercise`),
  CONSTRAINT `workout_set_ibfk_1` FOREIGN KEY (`id_workout_session`) REFERENCES `workout_session` (`id_workout_session`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `workout_set_ibfk_2` FOREIGN KEY (`id_exercise`) REFERENCES `exercise` (`id_exercise`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout_set`
--

LOCK TABLES `workout_set` WRITE;
/*!40000 ALTER TABLE `workout_set` DISABLE KEYS */;
/*!40000 ALTER TABLE `workout_set` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `vw_gym_complete`
--

/*!50001 DROP VIEW IF EXISTS `vw_gym_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_gym_complete` AS select `g`.`id_gym` AS `id_gym`,`g`.`name` AS `name`,`g`.`description` AS `description`,`g`.`city` AS `city`,`g`.`address` AS `address`,`g`.`latitude` AS `latitude`,`g`.`longitude` AS `longitude`,`g`.`phone` AS `phone`,`g`.`whatsapp` AS `whatsapp`,`g`.`email` AS `email`,`g`.`website` AS `website`,`g`.`instagram` AS `instagram`,`g`.`facebook` AS `facebook`,`g`.`google_maps_url` AS `google_maps_url`,`g`.`max_capacity` AS `max_capacity`,`g`.`area_sqm` AS `area_sqm`,`g`.`verified` AS `verified`,`g`.`featured` AS `featured`,`g`.`month_price` AS `month_price`,`g`.`week_price` AS `week_price`,`g`.`photo_url` AS `photo_url`,`g`.`created_at` AS `created_at`,`g`.`updated_at` AS `updated_at`,coalesce(`grs`.`avg_rating`,0) AS `rating`,coalesce(`grs`.`total_reviews`,0) AS `reviews_count`,(select count(distinct `ug`.`id_user`) from `user_gym` `ug` where ((`ug`.`id_gym` = `g`.`id_gym`) and (`ug`.`active` = true))) AS `active_members`,(select count(0) from `assistance` `a` where ((`a`.`id_gym` = `g`.`id_gym`) and (`a`.`date` >= (curdate() - interval 30 day)))) AS `monthly_visits`,(select count(0) from `user_favorite_gym` `ufg` where (`ufg`.`id_gym` = `g`.`id_gym`)) AS `favorites_count`,(select `m`.`url` from `media` `m` where ((`m`.`entity_type` = 'GYM') and (`m`.`entity_id` = `g`.`id_gym`) and (`m`.`is_primary` = true)) order by `m`.`uploaded_at` desc limit 1) AS `main_image` from (`gym` `g` left join `gym_rating_stats` `grs` on((`g`.`id_gym` = `grs`.`id_gym`))) where (`g`.`deleted_at` is null) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_user_dashboard`
--

/*!50001 DROP VIEW IF EXISTS `vw_user_dashboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_user_dashboard` AS select `up`.`id_user_profile` AS `id_user_profile`,`up`.`name` AS `name`,`up`.`lastname` AS `lastname`,concat(`up`.`name`,' ',`up`.`lastname`) AS `full_name`,`up`.`tokens` AS `tokens`,`up`.`subscription` AS `subscription`,`a`.`email` AS `email`,(select `ubm`.`weight_kg` from `user_body_metrics` `ubm` where (`ubm`.`id_user_profile` = `up`.`id_user_profile`) order by `ubm`.`measured_at` desc limit 1) AS `current_weight_kg`,(select `ubm`.`height_cm` from `user_body_metrics` `ubm` where (`ubm`.`id_user_profile` = `up`.`id_user_profile`) order by `ubm`.`measured_at` desc limit 1) AS `current_height_cm`,(select `ubm`.`bmi` from `user_body_metrics` `ubm` where (`ubm`.`id_user_profile` = `up`.`id_user_profile`) order by `ubm`.`measured_at` desc limit 1) AS `current_bmi`,(select `f`.`goal` from `frequency` `f` where (`f`.`id_user` = `up`.`id_user_profile`) order by `f`.`week_start_date` desc,`f`.`created_at` desc limit 1) AS `weekly_goal`,(select `f`.`assist` from `frequency` `f` where (`f`.`id_user` = `up`.`id_user_profile`) order by `f`.`week_start_date` desc,`f`.`created_at` desc limit 1) AS `weekly_assists`,(select `s`.`value` from `streak` `s` where (`s`.`id_user` = `up`.`id_user_profile`) order by `s`.`updated_at` desc limit 1) AS `current_streak`,(select count(0) from `user_gym` `ug` where ((`ug`.`id_user` = `up`.`id_user_profile`) and (`ug`.`active` = true))) AS `active_gyms`,(select count(0) from `assistance` `asst` where (`asst`.`id_user` = `up`.`id_user_profile`)) AS `total_attendances`,(select count(0) from `workout_session` `ws` where ((`ws`.`id_user_profile` = `up`.`id_user_profile`) and (`ws`.`status` = 'COMPLETED'))) AS `completed_workouts`,`up`.`created_at` AS `member_since` from (`user_profiles` `up` join `accounts` `a` on((`up`.`id_account` = `a`.`id_account`))) where (`a`.`is_active` = true) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-14  0:04:01
